//global coloors

$bluecolor: #52BFFF;
$buttonColor: linear-gradient(213.88deg, #B1E2FF -67.78%, #68C7FF 175.48%);
$textColor: #7A7A7A;
$borderColor: #ECF6FC;

@mixin btn($background) {
  background: $background !important;
  width: 215px;
  height: 48px;
  border-radius: 25px !important;
}

@mixin swiperbutton() {
  background: $bluecolor;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

a, p {
  color: $textColor !important;
  z-index: 10000;
}

.textcolor {
  color: $textColor;
}

.blue-color {
  color: $bluecolor;
}

i {
  color: $bluecolor;
}

.form-select {
  width: 8% !important;
}

.navbar-modal {
  & {
    @include btn(#fff);
    box-shadow: 0px 0px 25px rgba(82, 191, 255, 0.15);
  }

  p {
    color: $bluecolor !important;
    margin-left: 20px;
  }

}


.background {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  height: 800px;
  position: relative;
  background-position: center;

  .nav-item {

    .nav-link:hover {
      border-bottom: 3px solid $bluecolor;

    }
  }

}

.main-header {
  margin-top: 138px;
  font-size: 44px;

}

.main-button {
  @include btn($buttonColor);
}

@media (max-width: 1200px) {
  .main-header {
    font-size: 30px;
  }

}

@media (max-width: 1400px) {
  .swiper-pagination {
    bottom: 90px !important;
  }
}

@media (max-width: 500px) {
  .main-header {
    font-size: 20px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #FE0002 !important;
  opacity: 1 !important;
}

.background {
  .content {
    position: static !important;

    .swiper-pagination {
      bottom: 20px;
      left: 0;
      padding-top: 50px !important;

      .swiper-pagination-bullet {
        background: #FFFFFF;
        opacity: 0.65;
        width: 30px;
        height: 6px;
        border-radius: 5px;
      }
    }
  }
}

.tree {
  position: absolute;
  bottom: -400px;
  left: 0;
}

#our-company {
  background-image: url("../images/castle.png");
  z-index: 999;

  background-size: cover;
  padding-top: 100px;
  padding-bottom: 200px;

  .mt-university {
    padding-top: 150px;
  }

  .row {
    .col-12 {
      .card {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
        border-radius: 20px;

        .card-body {
          .border-body {
            border: 3px dashed $borderColor;
            border-radius: 20px;
            padding: 30px 0;
          }
        }

        img {
          margin: -60px auto !important;
          z-index: 100000;
        }

      }
    }
  }

  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        .card {
          border-radius: 20px;
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);

          img {
            margin: 0 auto;
            border-radius: 20px;
          }
        }
      }
    }

    .swiper-button-next, .swiper-button-prev {
      @include swiperbutton();

      &:after {
        font-size: 12px;
        color: #fff;
        font-weight: 800;

      }
    }
  }

  .user {
    padding-top: 170px;

    .swiper-container {
      .swiper-wrapper {
        padding-top: 100px;
        margin-top: 40px;

        .swiper-slide {
          .card {
            img {
              margin-top: -100px;
            }
          }
        }
      }
    }
  }

  .students {
    padding-top: 300px;

    h2 {
      margin: 0 auto
    }
  }

  .questions {
    padding-top: 120px;

    .row {
      .col-12 {
        .card {
          border-radius: 20px;

          .card-body {
            .accordion {
              border: 3px dashed $borderColor;
              border-radius: 20px;
              padding: 10px;

              .content-box {
                cursor: pointer;

                &.active {
                  .content {
                    height: 220px;
                  }

                  .label::before {
                    content: "-";
                    background: #D9D9D9;
                  }
                }

                position: relative;

                .label:hover {
                  color: #000 !important;
                }

                .label::before {
                  content: '+';
                  position: absolute;
                  top: 1%;
                  right: -40px;
                  color: #fff;
                  font-size: 3rem;
                  line-height: 0.7;
                  text-align: center;
                  @include swiperbutton();
                }

                .content {
                  position: relative;
                  height: 0;
                  overflow: hidden;
                  transition: 0.5s;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #our-company {
    .uslugi {
      .row {
        .col-12 {
          &:nth-child(2) {
            margin: 60px 0;
          }
        }
      }
    }
  }
}

.university {
  margin: 0 auto !important
}

@media (max-width: 776px) {
  .students {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          img {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

#london {
  background-image: url("../images/london.png");
  background-size: cover;
  padding: 100px 0 200px 0;

  .row {
    .col-xl-6 {
      .card {
        border-radius: 20px;

        .card-body {
          .message {
            border: 3px dashed $borderColor;
            border-radius: 20px;

            form {
              .col-md-9 {
                margin: 0 auto;

                .input-group {
                  .input-group-text {
                    background-color: #F8FCFF;

                    i {
                      color: #BED8E8;
                    }
                  }

                  input, textarea {
                    background-color: #F8FCFF;
                  }

                  textarea {
                    resize: none
                  }

                }
              }

              .col-12 {
                button {
                  @include btn($buttonColor);
                  margin: 0 auto -40px;

                  .fa-paper-plane {
                    width: 38px;
                    height: 38px;
                    background: linear-gradient(322.12deg, #B1E2FF 1.25%, #68C7FF 89.56%);
                    border-radius: 50%;
                    line-height: 2.5;

                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #london {
    .container {
      .row {
        .col-xl-6 {
          margin: 0 auto;
        }
      }
    }
  }
}

#map {
  background: url("../images/map.png");
  background-size: cover;
  position: relative;
  padding-bottom: 200px;

  .map-tree {
    position: absolute;
    left: 0;
    top: -150px;
  }

  .map-bus {
    position: absolute;
    right: 0;
    bottom: 20px;
  }

  .container {
    .row {
      padding-top: 66px;

      .col-xl-6 {
        .card {
          border-radius: 20px;

          .card-body {
            .number-box {
              border: 3px dashed $borderColor;
              border-radius: 20px;

              p {
                line-height: 0.5;
              }

              button {
                margin: 0 auto -60px;
              }
            }
          }
        }
      }
    }
  }

}

@media (max-width: 476px) {
  #map {
    .container {
      .row {
        .col-xl-6 {
          margin: 0 auto;

          .card {
            .card-body {
              .number-box {
                p {
                  line-height: 1.5;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #map {
    .container {
      .row {
        .col-xl-6 {
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #map {
    .container {
      .row {
        .col-xl-6 {
          .card {
            .card-body {
              .number-box {
                button {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}

#foooter {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  padding-bottom: 10px;

  .inner-footer {
    padding: 50px 0;
    border: 3px dashed $borderColor;

    .container {
      .row {
        .col-8 {
          .navbar {
            ul {
              list-style: none;
            }
          }
        }

      }

      hr {
        border-color: rgba(226, 237, 243, 0.5);;
      }
    }
  }
}

@media (max-width: 576px) {
  #foooter {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    padding-bottom: 10px;

    .inner-footer {
      padding: 50px 0;
      border: 3px dashed $borderColor;

      .container {
        .row {
          .col-sm-2 {
            ul {
              padding: 0;
            }
          }
        }

        .col-12 {
          .navbar {
            .row {
              .col-sm-4 {
                ul {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #foooter {
    .inner-footer {
      .container {
        .row {
          .col-xl-10 {
            .navbar {
              ul {
                flex-direction: column;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .background {
    .navbar {
      .container {
        .navbar-collapse {
          .ul {
            li {
              text-align: center;
            }
          }

          .form-select {
            width: 40% !important;

          }
        }
        .navbar-toggler-icon{
          background-image: url("../images/burger.png");
          width: 47px;
          &.burger-active{
            background-image: url("../images/close.png");
          }
        }
      }
    }
  }
}
.background{
  .navbar{
    .container{
      .collapse{
        .modal{
          z-index: 10000;
          .row {
              .card {
                border-radius: 20px;
                .btn-close{
                  display: block;
                  margin-left: auto;
                }
                .card-body {
                  .message {
                    border: 3px dashed $borderColor;
                    border-radius: 20px;

                    form {
                      .col-md-9 {
                        margin: 0 auto;

                        .input-group {
                          .input-group-text {
                            background-color: #F8FCFF;

                            i {
                              color: #BED8E8;
                            }
                          }

                          input, textarea {
                            background-color: #F8FCFF;
                          }

                          textarea {
                            resize: none
                          }

                        }
                      }


                        button {
                          @include btn($buttonColor);
                          margin: 0 auto;
                          width: 80%;
                          .fa-paper-plane {
                            width: 38px;
                            height: 38px;
                            background: linear-gradient(322.12deg, #B1E2FF 1.25%, #68C7FF 89.56%);
                            border-radius: 50%;
                            line-height: 2.5;

                          }
                        }
                    }
                  }
                }
              }
          }
        }
      }
    }
  }
}











